@import "tailwindcss";

.root {
  isolation: isolate;
}

:root {
  --background: white;
  --foreground: black;
  --foreground-secondary: #666666;
  --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

[data-theme="8-ball"] {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 50%,
    transparent
  );
}

[data-theme="cool-blue"] {
  --background: #130923;
  --foreground: #b6e4ee;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="hazelnut"] {
  --background: #eae7e1;
  --foreground: #363021;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="strawberry"] {
  --background: #ffc8ea;
  --foreground: #ff2e00;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="vanilla"] {
  --background: #ffffff;
  --foreground: #000000;
  --foreground-secondary: #666666;
}

[data-theme="jujutsu"] {
  body {
    background: linear-gradient(
      180deg,
      #b3b3cd 0%,
      #bac9c0 47.34%,
      #bac9c0 70.04%,
      #d1a9c9 100%
    ) !important;
  }
  --background: #b4b1cc;
  --foreground: #000000;
  --foreground-secondary: #666666;
}

[data-theme="shader"] {
  body {
    background: #0a0a0a !important;
  }
  --background: #0a0a0a;
  --foreground: #ffffff;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

.logo {
  filter: brightness(0) saturate(100%) invert(11%) sepia(98%) saturate(4963%)
    hue-rotate(11deg) brightness(89%) contrast(122%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: color-mix(in srgb, var(--foreground) 20%, var(--background));
  --color-secondary: var(--foreground-secondary);
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/TWKLausanne-450.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/TWKLausanne-550.otf") format("opentype"),
    url("/fonts/TWKLausanne-550.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/TWKLausanne-350.otf") format("opentype"),
    url("/fonts/TWKLausanne-350.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "TWK Lausanne", sans-serif;
  position: relative;
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.title {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  text-pretty: true;
}

@utility underline-link {
  @apply underline underline-offset-2 text-foreground hover:text-secondary;
}

@utility border-link {
  @apply border border-foreground rounded-full px-2 py-1 flex flex-row items-center justify-center gap-2 h-8 text-foreground;
}

@utility button-link {
  @apply border border-transparent bg-black rounded-full px-2 py-1 flex flex-row items-center justify-center gap-2 h-8 text-foreground;
}

/* View Transitions */
::view-transition-group(root) {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

::view-transition-new(root) {
  animation-name: reveal-light;
  animation-fill-mode: both;
}

::view-transition-old(root),
[data-theme="dark"]::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

[data-theme="dark"]::view-transition-new(root) {
  animation-name: reveal-dark;
  animation-fill-mode: both;
}

video {
  view-transition-name: well-video;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@utility clipped {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.3s ease-out;
}

@utility reveal-bottom-to-top {
  clip-path: inset(0 0 0 0);
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
