@import "tailwindcss";

.root {
  isolation: isolate;
}

:root {
  --background: white;
  --foreground: black;
  --foreground-secondary: #666666;
  --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

@theme {
  --color-*: initial;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.text-title {
  font-size: 13px;
  font-weight: 500;
}

.text-body {
  font-size: 12px;
  font-weight: 400;
}

.text-caption {
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 15px;
  font-weight: 500;
}

[data-theme="8-ball"] {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="cool-blue"] {
  --background: #130923;
  --foreground: #b6e4ee;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="hazelnut"] {
  --background: #eae7e1;
  --foreground: #141a21;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

[data-theme="strawberry"] {
  --background: #ffc8ea;
  --foreground: #ff2e00;
  --foreground-secondary: color-mix(
    in srgb,
    var(--foreground) 72%,
    transparent
  );
}

.logo {
  filter: brightness(0) saturate(100%) invert(11%) sepia(98%) saturate(4963%)
    hue-rotate(11deg) brightness(89%) contrast(122%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--foreground-secondary);
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/TWKLausanne-450.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/TWKLausanne-350.otf") format("opentype"),
    url("/fonts/TWKLausanne-350.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  /* overscroll-behavior: none; */
}

body {
  background: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;
  font-family: "TWK Lausanne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  position: relative;
}

@utility underline-link {
  @apply underline underline-offset-2 text-foreground hover:text-secondary;
}

@utility border-link {
  @apply border border-foreground rounded-full px-2 py-1 flex flex-row items-center justify-center gap-2 h-8 text-foreground;
}

@utility button-link {
  @apply border border-transparent bg-[#000000] rounded-full px-2 py-1 flex flex-row items-center justify-center gap-2 h-8 text-foreground;
}

/* View Transitions */
::view-transition-group(root) {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

::view-transition-new(root) {
  animation-name: reveal-light;
  animation-fill-mode: both;
}

::view-transition-old(root),
[data-theme="dark"]::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

[data-theme="dark"]::view-transition-new(root) {
  animation-name: reveal-dark;
  animation-fill-mode: both;
}

video {
  view-transition-name: well-video;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
